.home-container {
  text-align: left;
  padding: 40px;
  background-color: #f0f0f0;
}

.blog-name {
  font-size: 3.5em;
  color: #FFA500;
  margin-bottom: 30px;
  font-weight: bold;
}

.intro-text {
  font-size: 1.1em;
  color: #444;
  line-height: 1.8;
}
